{% extends "base.html.twig" %}

{% block body %}

<main>
    <div class="about">
        <div class="image">
            <img src="{{asset('./ressource/img/profil.jpg')}}" alt="" srcset="">
        </div>
        <div class="text">
            <h2>Bonjour</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Provident, hic pariatur, impedit officia necessitatibus
                non repellat id dolore sint eligendi culpa animi fugiat
                commodi consequatur nisi amet enim mollitia incidunt.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Provident, hic pariatur, impedit officia necessitatibus
                non repellat id dolore sint eligendi culpa animi fugiat
                commodi consequatur nisi amet enim mollitia incidunt.</p>
        </div>
    </div>
</main>

{% endblock %}